$side-popup-padd-rl: 30px
$side-popup-padd-rl_xs: 12px
$side-popup-size: 405px
$side-popup-size-half: 700px


.side-popup
    position: fixed
    top: 0
    bottom: 0
    left: 100%
    width: 100%
    max-width: $side-popup-size
    overflow: auto
    background: $cDark
    z-index: 999
    display: flex

    flex-direction: column
    color: #fff
    transition: $t600


    &__wr
        padding-left: $side-popup-padd-rl
        padding-right: $side-popup-padd-rl
        flex-shrink: 0
        position: relative
        overflow: hidden

        > *
            transform: translateX(40%)
            transition: $t600 0.3s

            BODY._side-popup-open &
                transform: translateX(0%)


        +max-screen($side-popup-size * 0.9)
            padding-left: $side-popup-padd-rl_xs
            padding-right: $side-popup-padd-rl_xs


    &__cross
        font-size: 25px
        color: $cPrimary
        position: absolute
        top: 14px
        right: 14px
        cursor: pointer

    &__main
        flex-grow: 1
        padding-top: 35px
        padding-bottom: 30px

        + .side-popup__bottom
            margin-top: -15px


    &__bottom
        background: #121212
        position: relative
        padding-top: 20px
        padding-bottom: 60px

        &:after
            content: ''
            border: 10px solid transparent
            border-bottom-color: #121212
            position: absolute
            bottom: 100%
            left: 50%
            margin-left: -10px

    .checkbox-label__txt
        color: #939393
        font-size: 13px

    &__calc-inject-wr
        display: none
        margin: 30px 0

        INPUT
            display: none !important

        &._active
            display: block


    &__calc-inject

        .h4
            margin: 15px 0 8px
            font-weight: normal

    &__inject-option
        margin-bottom: 5px
        margin-left: 15px
        b
            margin-right: 4px


    &--half
        width: 50% //$side-popup-size-half //40%
        max-width: 100%
        min-width: $side-popup-size
        +max-screen($screenXS)
            width: 100%
            min-width: 0




    +max-screen($side-popup-size)
        form .btn
            display: table
            margin-left: auto
            margin-right: auto


    &._open
        transform: translateX(-100%)


$popup-size: 600px

.mfp-content
    padding: 0 $wrapperSS-padd

.mfp-bg
    background: rgba(#121212, 0.2)

.popup
    display: none
    background: #fff
    border-radius: 5px
    position: relative
    padding: 30px
    width: $popup-size
    max-width: 100%
    margin: 20px auto
    color: #333333

    .mfp-container &
        display: block

    &__title
        font-size: 35px
        line-height: 35px
        font-weight: 500
        margin-bottom: 30px
        margin-right: 25px

    +max-screen($screenXS)
        padding: 25px 20px 15px
        &__title
            font-size: 28px



.popup-cross

    &, svg
        width: 30px !important
        height: 30px !important

    // Почему то клик по свг не закрывает magnific popup, оверлей через :after исправляет проблему
    &:after
        content: ''
        position: absolute
        left: 0
        right: 0
        bottom: 0
        top: 0
        background: transparent


    polyline
        fill: $cPrimary
        transition: $t300
        stroke-dasharray: 14px

    &:hover
        fill: darken($cPrimary, 10%)

        polyline
            &:nth-child(1)
                transform: translate3d(5px,-5px,0)

            &:nth-child(2)
                transform: translate3d(-5px,5px,0)

            &:nth-child(3)
                transform: translate3d(-5px,-5px,0)

            &:nth-child(4)
                transform: translate3d(5px,5px,0)

    &:active
        polyline
            &:nth-child(1)
                transform: translate3d(20px,-20px,0)

            &:nth-child(2)
                transform: translate3d(-20px,20px,0)

            &:nth-child(3)
                transform: translate3d(-20px,-20px,0)

            &:nth-child(4)
                transform: translate3d(20px,20px,0)

.popup__closer, .mfp-close
    position: absolute
    top: 16px !important
    right: 16px !important
    padding: 0 !important
    cursor: pointer
    opacity: 1

    &:hover
        color: darken($cPrimary, 10%) !important




.mfp-iframe-holder
    padding-top: 55px
    padding-bottom: 55px
    &.mfp-container
        padding-left: 60px
        padding-right: 60px
        +max-screen($screenS)
            padding-left: 8px
            padding-right: 8px

    .mfp-content
        //padding: 25px 55px
        //background: rgba($cDarkL,0.9)

    //.mfp-iframe-scaler
        position: relative
        overflow: visible

    .popup__closer, .mfp-close
        top: 0 !important
        right: auto !important
        left: 100% !important
        margin: -40px 0 0px 8px

        +max-screen($screenS)
            margin: 0 0 16px
            top: auto !important
            bottom: 100% !important
            left: auto !important
            right: 0 !important



$comment-ava-size: 120px

.case-popup

    &__main
        margin-top: 20px

    &__txt
        font-size: 15px
        line-height: 30px
        h5
            font-style: italic
            color: $cPrimary
            margin: 20px 0

    &__comment-wr
        white-space: nowrap
        padding-bottom: 15px

        .author-desc
            margin: 23px 0 10px

    &__comment-img-col,
    &__comment-txt-col
        display: inline-block
        vertical-align: top
        white-space: normal

    &__comment-txt-col
        width: 100%

    &__comment-img-col
        width: $comment-ava-size
        margin-right:  -$comment-ava-size

        & + .case-popup__comment-txt-col
            margin-right: -$comment-ava-size
            padding-left: 30px + $comment-ava-size


    &__comment-img
        width: $comment-ava-size
        height: $comment-ava-size
        position: relative
        overflow: hidden
        border-radius: 50%

        img
            width: 100%

    +max-screen($screenXS + 40px)

        &__comment-wr
            white-space: normal

        &__comment-img
            margin: 0 auto

        &__comment-img-col
            width: 100%
            margin: 0 auto 20px
            & + .case-popup__comment-txt-col
                margin-right: 0
                padding-left: 0

        &__txt
            font-size: 14px
            line-height: 24px