@import svg-fonts/iconfont
@import animation
@import icons
@import buttons
@import links
@import typography
@import formElements
@import formLayout

// ----------------------------------------------------------------------
// Small components
// ----------------------------------------------------------------------

.numb
    font-size: 20px
    line-height: 20px
    font-weight: 500
    color: $cPrimary

    &--lg
        font-size: 30px
        line-height: 40px
        font-weight: 700

.ico-w-circle
    position: relative
    display: inline-block
    font-size: 50px

    &:after
        content: ''
        width: 58px
        height: 58px
        position: absolute
        left: 50%
        top: 50%
        border-radius: 50%
        z-index: 1
        margin: -29px 0 0 -29px

    .iconic
        position: relative
        z-index: 2
        line-height: normal
        &--email-like
            font-size: 55px
        &--ppl-cards
            font-size: 45px
        &--graphs
            font-size: 45px
        &--sandglass
            font-size: 55px

    &--green
        &:after
            background-color: $cPaleGreen
    &--green2
        &:after
            background-color: #ccff96
    &--green3
        &:after
            background-color: #baf78d

    &--yel
        &:after
            background-color: $cPaleYel
    &--yel2
        &:after
            background-color: $cPaleYel2
    &--blueL
        &:after
            background-color: $cPaleBlueL


    &--b
        &:after
            transform: translate3d(0px, 10px, 0)
    &--r-b
        &:after
            transform: translate3d(28px, 9px, 0)
    &--l-b
        &:after
            transform: translate3d(-10px, 10px, 0)
    &--l-t
        &:after
            transform: translate3d(-19px, -14px, 0)

    &--r-t
        &:after
            transform: translate3d(18px, -14px, 0)

    &--aft-md
        &:after
            width: 48px
            height: 48px
            margin: -24px 0  0 -24px

    &--rupor
        &:after
            transform: translate3d(-18px, 0, 0)

    &--broom-lg
        &:after
            transform: translate3d(4px, -16px, 0)

    //&--molecula-lg
        &:after


    &--lg
        .iconic
            font-size: 95px

        &:after
            width: 66px
            height: 66px
            margin: -33px 0  0 -33px

        .iconic
            &--bulb
                font-size: 100px
            &--broom
                font-size: 100px
            &--molecula
                font-size: 66px
            &--smile-boy
                font-size: 90px


.letter-hl-str
    position: relative
    z-index: 1
    padding-left: 15px
    padding-right: 15px

    &__lt
        position: relative
        z-index: -1
        &:after
            content: ''
            width: 46px
            height: 46px
            position: absolute
            top: 50%
            left: 50%
            border-radius: 50%
            margin: -23px 0 0 -23px
            background-color: $cPaleGreen
            z-index: -1

        &--yel
            &:after
                background-color: #ecf78d

        &--orng
            &:after
                background-color: $cPaleOrng

        &--pink
            &:after
                background-color: $cPalePink


.video-link
    text-align: center

    .iconic--play
        display: block
        height: auto
        line-height: normal
        font-size: 65px
        color: $cPrimary
        margin-bottom: 20px

$mouse-link-size: 56px
.mouse-link
    display: block
    width: $mouse-link-size
    height: $mouse-link-size
    line-height: $mouse-link-size
    background: #fff
    border-radius: 50%
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.16)
    position: relative

    .iconic
        display: block
        color: #000
        &--mouse
            font-size: 25px
            position: absolute
            top: 12px
            line-height: normal
            left: 0
            right: 0

        &--arr-b
            font-size: 4px
            line-height: normal
            position: absolute
            top: 43px
            left: 0
            right: 0


.doc-link
    display: inline-block
    margin: 10px auto
    text-align: left
    color: inherit
    white-space: nowrap

    .iconic--pdf
        font-size: 38px

    &--lg

        .doc-link__img
            margin-top: -6px

        .doc-link__name
            font: 700 18px/1.2 $baseFont

        .doc-link__info
            font: 14px/1.2 $baseFont
            margin-left: 12px
            display: inline-block

    &__img
        display: inline-block
        vertical-align: top
        padding-right: 15px
        width: 45px
        margin-right: -45px
        line-height: normal

        & + .doc-link__main
            padding-left: 45px

    &__main
        display: inline-block
        vertical-align: top
        white-space: normal

    &__name
        font-weight: 500

    &__info
        color: #717171
        text-transform: uppercase


.person
    text-align: center

    &__ava
        display: table
        width: 80px
        height: 80px
        border-radius: 50%
        margin: 10px auto 20px
        position: relative
        overflow: hidden
        IMG
            display: block

    &__quote
        font-size: 18px
        line-height: 20px


    &__desc-wr
        margin: 17px 0 0


    &__name
        font-size: 20px
        line-height: 20px
        font-weight: 500
        color: $cPrimary
        margin-bottom: 8px

    &__post
        font-size: 13px
        color: #939393

.author-desc

    &__name
        font-size: 20px
        line-height: 20px
        font-weight: 500
        color: $cPrimary
        margin-bottom: 7px

    &__desc
        color: #939393
        font-size: 13px

.svg-obj
    display: inline-block
    vertical-align: middle
    &__hidden
        display: none

.soc-line

    +max-screen($screenXS)
        display: none

    &__item
        display: inline-block
        vertical-align: middle
        font-size: 15px
        color: #939393
        padding: 10px
        transition: $t300


        & + &
            margin-left: 20px

        &:hover
            color: #fff
            .footer__soc-item-img
                transform: translateY(-6px)

    &__item-img
        margin-right: 12px
        display: inline-block
        vertical-align: middle
        transition: $t300

    &__item-txt
        display: inline-block
        vertical-align: middle
        color: $cGreen
        margin-top: -3px


.markered
    display: inline-block
    vertical-align: top
    font-size: 30px
    line-height: 36px
    font-weight: 500
    background: url("../images/marker.png") no-repeat top center
    background-size: 100% 100%
    padding: 2px 30px 2px 20px

    +max-screen($screenS)
        font-size: 20px
        line-height: 34px

    +max-screen($screenXS)
        font-size: 16px
        line-height: 22px
        padding-top: 5px
        padding-bottom: 5px

.jqstooltip
    font-size: 14px
    line-height: 20px
    height: auto !important
    width: auto !important